@import "tailwindcss";

:root {
  --background: #EFEFEF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.oppor-container {
  gap: 1.5rem;
}

#not-found-container {
  background-image: url('/stm-waves.avif');
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.884);
}

.careers-hero {
  background-image: url('/stm-works.avif');
  background-size: cover;
}

@media screen and (min-width: 1000px) {
  .careers-hero {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.app-bckgrnd {
  background-image: url('/background_img_1.avif');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1000px) {
  .app-bckgrnd {
    background-attachment: fixed;
  }
}

.pc-hero {
  background-image: url('/stm-office-work.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(99%);
}

.darken {
  display: flex;
  filter: brightness(70%);
}

.services-hero {
  background-image: url('/STM_Services_Hero.avif');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(79%);
}

.arrow-container {
  display: none;
}

input[type="file"]::file-selector-button {
  display: none;
}

.seo-service-container {
  background-image: url('/SEO-bckgrnd.png');
  background-size: cover;
}

.digital-marketing-container {
  background-image: url('/DigitalMarketingServices.png');
  background-size: cover;
}

@media screen and (min-width: 1000px) {

  .arrow-container {
    margin-top: -10px;
    margin-left: 40px;
  }

  .arrow-img {
    width: 28rem;
    transform: rotate(16deg);
    padding: 1px 0 0 0;
  }

  .arrow-box {
    flex: 1;
    display: flex;
    justify-content: center;
  }

}