@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.oppor-container {
  gap: 1.5rem;
}

#not-found-container {
  background-image: url('/stm-waves.avif');
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.884);
}

.careers-hero {
  background-image: url('/stm-works.avif');
  background-size: cover;
}

@media screen and (min-width: 1000px) {
  .careers-hero {
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.app-bckgrnd {
  background-image: url('/background_img_1.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
}